/* **************************** */
/* VARIABLES */
/* **************************** */

//Colores
$colorfondo:#639D54;
$colorsorteo:#E2C970;
$colorgracias:#E2C970;
$colorformulario:#EDEBEB;
$colorparticipa:#E54B4B;